/* Theme: Loopysec | Author: Amin Abdisamad */

/* Global Resets */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Kodchasan", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #777;
  line-height: 1.6;
}

/* Layout */
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(10, 0, 0, 0.5),
      rgba(1, 0, 0, 0.8)
    ),
    url("../img/spss.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Branding */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-logo {
  max-width: 200px;
  height: auto;
}

/* Box Area */
.boxArea {
  text-align: center;
}

.headingText {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.headingTextMain {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 37px;
  animation: moveInLeft 1s ease-in-out;
}

.headingTextSub {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 4.7px;
  animation: moveInRight 1s ease-in-out;
}

/* Animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Footer */
.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #222;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* Address */
address {
  font-weight: 400;
  font-size: 16px;
  color: white;
}

/* Countdown */
.countdown {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.countdown div {
  width: 30%;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  opacity: 0.8;
  margin: 15px;
}

.countdown span {
  display: block;
  font-size: 20px;
}

/* Button Styles */
.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  transition: all 1s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-animated {
  animation: moveInBtn 3s ease-in-out 0.7s;
  animation-fill-mode: backwards;
}

.btn-white {
  color: #aa0000;
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  border-radius: 100px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Responsive Design */
@media (max-width: 650px) {
  .headingTextMain {
    font-size: 40px;
  }

  .countdown {
    font-size: 30px;
    flex-direction: column;
  }

  .countdown div {
    display: none;
  }

  .countdown div:first-child {
    display: block;
    width: 80%;
    padding: 10px;
  }
}

@media (max-height: 600px) {
  img {
    width: 20%;
  }

  p {
    display: none;
  }
}

@media (max-height: 400px) {
  img {
    padding-bottom: 30px;
  }

  h1 {
    display: none;
  }
}
